<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BUDGIT!!!</a>
        <div>
            <!-- <a class="btn btn-primary" href="/add_maincat" role="button">+</a> -->
            <div class="btn-group">
                <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                    {% case month %}
                        {% when 1 %}
                            Jan
                        {% when 2 %}
                            Feb
                        {% when 3 %}
                            Mar
                        {% when 4 %}
                            Apr
                        {% when 5 %}
                            Mai
                        {% when 6 %}
                            Jun
                        {% when 7 %}
                            Jul
                        {% when 8 %}
                            Aug
                        {% when 9 %}
                            Sep
                        {% when 10 %}
                            Oct
                        {% when 11 %}
                            Nov
                        {% when 12 %}
                            Dec
                    {% endcase %}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/1">Jan</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/2">Feb</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/3">Mar</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/4">Apr</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/5">Mai</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/6">Jun</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/7">Jul</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/8">Aug</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/9">Sep</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/10">Oct</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/11">Nov</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/{{year}}/12">Dec</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                    {{year}}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/month/21/{{month}}">21</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/22/{{month}}">22</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/month/23/{{month}}">23</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="bg-dark">
    <div class="container">
        <div class="row subkat">
            <div class="col-6"></div>
            <div class="col-3 form-text" style="text-align: center;">Budget</div>
            <div class="col-3 form-text" style="text-align: center;">Spent</div>
        </div>
    </div>
    {% for c in categories %}
        <div class="main-kat container" cat_id="{{ c.id }}">
            {{c.name}}
            {% for s in c.sc %}
                <div class="subkat bg container row align-items-center">
                    <div class="col-6 text-truncate">{{s.name}}</div>
                    <input class="col-3" min="0" name="budgeted" placeholder="0.00" placeholder="{{ s.budgeted }}" step="0.01" style="text-align: right; z-index: 2;" type="number">
                    <div class="col-3 pr-2 currency" style="text-align: end;">{{s.spent}}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<a class="btn btn-secondary btn-sm m-2" href="/add_maincat" role="button">Kategorie hinzufügen...</a>

<script>
    (function () {
        for (let mk_div of document.getElementsByClassName("main-kat")) {
            mk_div.addEventListener("click", function (e) {
                e = window.event || e;
                if (e.target.nodeName != "INPUT") {
                    let id = mk_div.getAttribute("cat_id");
                    location.href = "/maincat/" + id;
                }
            });
        };
        for (let cur_div of document.getElementsByClassName("currency")) {
            let c = parseFloat(cur_div.textContent.replace(",", ".")).toFixed(2);
            c = c.replace(".", ",") + " €";
            cur_div.textContent = c;
        };
    })()
</script>